#!/bin/bash
export FLASK_APP=run.py
export FLASK_DEBUG=True
export SECRET_KEY='5791628bb0b13c6dfde280ba245'
export SQLALCHEMY_DATABASE_URI='sqlite:///site.db'
#export SQLALCHEMY_DATABASE_URI='mysql+pymysql://user:pw@host/docmgr'
export SQLALCHEMY_TRACK_MODIFICATIONS=False
export EMAIL_USER=''
export EMAIL_PASS=''
